/lab1/FlightBooking/nbproject/private/
/lab1/FlightBooking/build/
/lab1/FlightBooking/dist/
*.pdf
*.zip
/lab1/Circles/nbproject/private/
/lab1/Circles/dist/
/lab1/Circles/build/
/lab1/Circles2/nbproject/private/
/lab1/Circles2/build/
/lab1/Circles2/dist/
/lab2/Circles/nbproject/private/
/lab2/Circles/build/
/lab2/Circles/dist/